* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
button {
  padding: 10px;
  font-size: 1.25em;
  margin-left: 3px;
  background-color: dodgerblue;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: deepskyblue;
}

h2 {
  font-family: "Roboto", sans-serif;
}
